<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Zyre Web GUI</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        socket.on('connect', function() {
        });

        socket.on('zyre_peers', function(msg) {
            var t  = document.getElementById("zyre_nodes")
            data = JSON.parse(msg.data)
            for (var i = 1, row; row = t.rows[i]; i++)
            {
                // if table already has node, delete from JSON object
                if (data.hasOwnProperty(row.cells[1].innerHTML))
                {
                    delete data[row.cells[1].innerHTML]
                }
                else // otherwise delete from table
                {
                    t.deleteRow(i);
                    i--;
                }
            }
            // add the remaining (new) UUIDs
            for (key in data)
            {
                d = data[key];
                var r = t.insertRow(-1);
                var name = r.insertCell(-1);
                name.innerHTML = d["name"]
                var uuid = r.insertCell(-1);
                uuid.innerHTML = d["uuid"]
                var endpoint = r.insertCell(-1);
                endpoint.innerHTML = d["endpoint"]
            }
        });
        socket.on('zyre_groups', function(msg) {
            var t  = document.getElementById("zyre_groups")
            data = JSON.parse(msg.data)
            for (var i = 1, row; row = t.rows[i]; i++)
            {
                // if table already has group, just check nodes
                if (data.hasOwnProperty(row.cells[0].innerHTML))
                {
                    var peers = JSON.stringify(data[row.cells[0].innerHTML])
                    if (data[row.cells[0].innerHTML].length == 0)
                    {
                        t.deleteRow(i);
                        i--;
                    }
                    else if (peers == row.cells[1].textContent)
                    {
                        // do nothing
                    }
                    else
                    {
                        row.cells[1].innerHTML = peers;
                    }
                    delete data[row.cells[0].innerHTML]
                }
                else // otherwise delete from table
                {
                    t.deleteRow(i);
                    i--;
                }
            }
            // add the remaining (new) groups
            for (key in data)
            {
                d = data[key];
                if (d.length > 0)
                {
                    var r = t.insertRow(-1);
                    var name = r.insertCell(-1);
                    name.innerHTML = key;
                    var peers = r.insertCell(-1);
                    peers.innerHTML = JSON.stringify(d)
                }
            }
        });
    </script>
    </head>
    <body>
        <table id="zyre_nodes">
          <tr>
            <th>Node</th>
            <th>UUID</th>
            <th>Endpoint</th>
          </tr>
        </table>
        <
        <table id="zyre_groups">
          <tr>
            <th>Group</th>
            <th>Peers</th>
          </tr>
        </table>
    </body>
</html>
